body {
    background-color: gray;
}

.bgimage{
    text-align: center;
    background: url("bg.jpg")no-repeat center center fixed;
    background-size: cover;
}

.butt {
    border-radius: 8px;
    background-color: #343a40;
    height:15vw;
    width:15vw;
    cursor:pointer;
    color: white;
    font-size: 2vw;
    padding: 0px;
    text-align:center;
    vertical-align:middle;
}

